<section class="py-12 flex justify-center items-center min-h-[80vh]">
  <div class="md:w-1/3">
    <div class="bg-white rounded-lg shadow-lg p-6 text-center mb-8">
      <h2 class="text-xl md:text-2xl font-bold text-gray-800 mb-4">Previsão do Tempo</h2>
      <div class="bg-gray-100 p-4 rounded-md">
        <p class="text-gray-600">Hoje, domingo</p>
        <p class="text-2xl md:text-3xl font-bold text-gray-800 my-2">Salvador, BA <span class="text-[#37708C]">29°C</span></p>
        <p class="text-sm text-gray-500">
          Previsão durante o dia e a noite.
        </p>
      </div>
    </div>
  </div>
</section>