<div class="flex items-center justify-center min-h-screen bg-gray-100">
  <div class="w-full max-w-md bg-white rounded-2xl shadow-lg p-8">
    <h2 class="text-3xl font-bold text-center text-[#37708C] mb-6">Cadastro</h2>

    <form class="space-y-5">
      <input required type="text" placeholder="Nome" class="w-full p-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-[#37708C]"/>
      <input required type="email" placeholder="E-mail" class="w-full p-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-[#37708C]" />
      <input required type="password" placeholder="Senha" class="w-full p-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-[#37708C]" />

      <input required type="password" placeholder="Confirme sua senha" class="w-full p-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-[#37708C]" />

      <div class="flex items-center">
        <input type="checkbox" id="terms" class="h-4 w-4 text-[#37708C] border-gray-300 rounded focus:ring-[#37708C]" />
        <label for="terms" class="ml-2 block text-sm text-gray-900">
          Li e concordo com os
          <a href="#" (click)="openPrivacyModal(); $event.preventDefault()" class="text-[#37708C] hover:underline cursor-pointer">
            termos de privacidade
          </a>.
        </label>
      </div>

      <button type="submit" class="w-full bg-[#37708C] text-white font-semibold py-2 px-4 rounded-lg hover:bg-[#4682B4] transition-colors">
        Criar conta
      </button>
    </form>
  </div>
</div>

<!-- Modal -->
<app-privacy-modal *ngIf="isPrivacyModalOpen" (close)="closePrivacyModal()"></app-privacy-modal>
