<div class="bg-gray-50 font-sans">
    <div class="relative h-[60vh] md:h-[70vh] bg-cover bg-center flex flex-col items-center justify-center text-white p-4 bg-[url('assets/praia.jpg')]" >
      <div class="absolute inset-0 bg-black opacity-40"></div>
      <div class="relative z-10 text-center">
        <h1 class="text-4xl md:text-5xl font-bold mb-4">Bem-vindo ao Rota do Mar</h1>
        <p class="text-lg md:text-xl max-w-2xl mx-auto mb-8">
          O PraiaFácil é o seu guia digital para descobrir e aproveitar as melhores praias da cidade.
        </p>
        <div class="flex items-center bg-white rounded-full p-2 max-w-lg mx-auto shadow-md">
          <svg class="h-6 w-6 text-blue-500 mx-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
          </svg>
          <input type="text" placeholder="Pesquisar sua praia preferida" class="w-full text-blue-700 focus:outline-none placeholder-blue-500 ">
        </div>
      </div>
    </div>
  
    <main class="container mx-auto px-4">
      <section class="py-12 md:flex md:items-center md:space-x-8">
        <div class="md:w-1/2 mb-6 md:mb-0">
          <h2 class="text-3xl font-bold text-gray-800 mb-4">Bem-vindo ao Rota do Mar</h2>
          <p class="text-gray-600 leading-relaxed mb-6">
            Neste site, você vai embarcar em uma jornada pelas mais deslumbrantes praias de Salvador, descobrindo o que cada uma tem de especial. Nossa missão é oferecer todas as informações que você precisa para planejar seu dia perfeito, seja para relaxar, se aventurar ou simplesmente admirar a paisagem.
            Navegue por um conteúdo rico e detalhado sobre as praias mais famosas e também sobre as joias escondidas da cidade. 
          </p>
          <a href="#" class="bg-blue-600 text-white font-semibold py-2 px-6 rounded-md hover:bg-blue-700 transition-colors">
            Saiba mais
          </a>
        </div>
        <div class="md:w-1/2 bg-[url('assets/farol.jpg')] bg-cover h-[40rem] rounded-lg cursor-pointer">

        </div>
      </section>
      
    </main>
  </div>