<div class="bg-gray-50 font-sans">
    <div class="relative h-[60vh] md:h-[70vh] bg-cover bg-center flex flex-col items-center justify-center text-white p-4 bg-[url('assets/praia.jpg')]" >
      <div class="absolute inset-0 bg-black opacity-40"></div>
      <div class="relative z-10 text-center">
        <h1 class="text-4xl md:text-5xl font-bold mb-4">Bem-vindo ao Rota do Mar</h1>
        <p class="text-lg md:text-xl max-w-2xl mx-auto mb-8">
          O PraiaFácil é o seu guia digital para descobrir e aproveitar as melhores praias da cidade.
        </p>
        <div class="flex items-center bg-white rounded-full p-2 max-w-lg mx-auto shadow-md">
          <svg class="h-6 w-6 text-blue-500 mx-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
          </svg>
          <input type="text" placeholder="Pesquisar sua praia preferida" class="w-full text-blue-700 focus:outline-none placeholder-blue-500 ">
        </div>
      </div>
    </div>
  
    <main class="container mx-auto px-4 bg-gray-100">
      <section class="py-12 md:flex md:items-center md:space-x-8">
        <div class="md:w-1/2 mb-6 md:mb-0">
          <h2 class="text-3xl font-bold text-gray-800 mb-4">Bem-vindo ao Rota do Mar</h2>
          <p class="text-gray-600 leading-relaxed mb-6">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book Lorem Ipsum. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas pariatur cumque vero beatae reprehenderit, porro similique omnis quis illo eaque dignissimos et impedit earum magnam eum. Consequuntur commodi aspernatur minima?
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book Lorem Ipsum. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas pariatur cumque vero beatae reprehenderit, porro similique omnis quis illo eaque dignissimos et impedit earum magnam eum. Consequuntur commodi aspernatur minima?
          </p>
          <a href="#" class="bg-blue-600 text-white font-semibold py-2 px-6 rounded-md hover:bg-blue-700 transition-colors">
            Saiba mais
          </a>
        </div>
        <div class="md:w-1/2 bg-[url('assets/farol.jpg')] bg-cover h-[40rem] rounded-lg cursor-pointer">

        </div>
      </section>
  
      <section class="py-12 text-center">
        <h2 class="text-3xl font-bold text-gray-800 mb-8">Praias</h2>
        <div class="grid md:grid-cols-2 gap-8 lg:gap-12">
          <div class="bg-white rounded-lg shadow-lg overflow-hidden flex flex-col md:flex-row">
            <div class="md:w-1/2">
              <img src="assets/images/barra-beach.jpg" alt="Praia da Barra" class="w-full h-48 md:h-full object-cover">
            </div>
            <div class="p-6 flex flex-col justify-between md:w-1/2">
              <div>
                <h3 class="text-xl font-semibold text-gray-800 mb-2">Praia da Barra</h3>
                <p class="text-sm text-gray-600 leading-snug mb-4">
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard...
                </p>
              </div>
              <div>
                <div class="flex items-center mb-2 text-yellow-500">
                  </div>
                    <a href="#" class="inline-block text-blue-600  font-semibold hover:text-blue-800 transition-colors">
                      Ver mais
                    </a>
              </div>
            </div>
          </div>
  
          <div class="bg-white rounded-lg shadow-lg overflow-hidden flex flex-col md:flex-row">
            <div class="md:w-1/2">
              <img src="assets/images/paciencia-beach.jpg" alt="Praia da Paciência" class="w-full h-48 md:h-full object-cover">
            </div>
            <div class="p-6 flex flex-col justify-between md:w-1/2">
              <div>
                <h3 class="text-xl font-semibold text-gray-800 mb-2">Praia da Paciência</h3>
                <p class="text-sm text-gray-600 leading-snug mb-4">
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard...
                </p>
              </div>
              <div>
                <div class="flex items-center mb-2 text-yellow-500">
                  </div>
                <a href="#" class="inline-block text-blue-600 font-semibold hover:text-blue-800 transition-colors">
                  Ver mais
                </a>
              </div>
            </div>
          </div>
        </div>
        <a href="#" class="mt-12 inline-block bg-blue-600 text-white font-semibold py-3 px-8 rounded-full hover:bg-blue-700 transition-colors shadow-lg">
          Ver todas as praias
        </a>
      </section>
  
      <section class="py-12 md:flex md:space-x-8">
        <div class="md:w-2/3 mb-8 md:mb-0">
          <h2 class="text-xl md:text-2xl font-bold text-gray-800 mb-4 text-center">Mapa</h2>
          <p class="text-gray-600 mb-4 text-center">
            Nesse mapa contém a localização das 20 praias.
          </p>
          <div class="rounded-lg shadow-lg overflow-hidden h-64 md:h-96">
            <img src="assets/images/mapa-salvador.png" alt="Mapa de Salvador com as praias" class="w-full h-full object-cover">
          </div>
        </div>
        
        <div class="md:w-1/3">
          <div class="bg-white rounded-lg shadow-lg p-6 text-center mb-8">
            <h2 class="text-xl md:text-2xl font-bold text-gray-800 mb-4">Previsão do Tempo</h2>
            <div class="bg-gray-100 p-4 rounded-md">
              <p class="text-gray-600">Hoje, domingo</p>
              <p class="text-2xl md:text-3xl font-bold text-gray-800 my-2">Salvador, BA <span class="text-blue-600">29°C</span></p>
              <p class="text-sm text-gray-500">
                Previsão durante o dia e a noite.
              </p>
            </div>
          </div>
          
          <div class="bg-white rounded-lg shadow-lg p-6">
            <h2 class="text-xl md:text-2xl font-bold text-gray-800 mb-6 text-center">Contato</h2>
            <form class="space-y-4">
              <input type="text" placeholder="Nome" class="w-full p-3 rounded-md border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500">
              <input type="email" placeholder="Email" class="w-full p-3 rounded-md border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500">
              <input type="tel" placeholder="Celular" class="w-full p-3 rounded-md border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500">
              <textarea placeholder="Descrição" rows="4" class="w-full p-3 rounded-md border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500"></textarea>
              <button type="submit" class="w-full bg-blue-600 text-white font-semibold py-3 rounded-md hover:bg-blue-700 transition-colors">
                Enviar
              </button>
            </form>
          </div>
        </div>
      </section>
    </main>
  </div>