<section class="py-12 text-center">
    <h2 class="text-3xl font-bold text-gray-800 mb-8">Praias</h2>
    <div class="grid md:grid-cols-2 gap-8 lg:gap-12">
      <div class="bg-white rounded-lg shadow-lg overflow-hidden flex flex-col md:flex-row">
        <div class="md:w-1/2">
          <img src="assets/images/barra-beach.jpg" alt="Praia da Barra" class="w-full h-48 md:h-full object-cover">
        </div>
        <div class="p-6 flex flex-col justify-between md:w-1/2">
          <div>
            <h3 class="text-xl font-semibold text-gray-800 mb-2">Praia da Barra</h3>
            <p class="text-sm text-gray-600 leading-snug mb-4">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard...
            </p>
          </div>
          <div>
            <div class="flex items-center mb-2 text-yellow-500">
              </div>
                <a href="#" class="inline-block text-blue-600  font-semibold hover:text-blue-800 transition-colors">
                  Ver mais
                </a>
          </div>
        </div>
      </div>

      <div class="bg-white rounded-lg shadow-lg overflow-hidden flex flex-col md:flex-row">
        <div class="md:w-1/2">
          <img src="assets/images/paciencia-beach.jpg" alt="Praia da Paciência" class="w-full h-48 md:h-full object-cover">
        </div>
        <div class="p-6 flex flex-col justify-between md:w-1/2">
          <div>
            <h3 class="text-xl font-semibold text-gray-800 mb-2">Praia da Paciência</h3>
            <p class="text-sm text-gray-600 leading-snug mb-4">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard...
            </p>
          </div>
          <div>
            <div class="flex items-center mb-2 text-yellow-500">
              </div>
            <a href="#" class="inline-block text-blue-600 font-semibold hover:text-blue-800 transition-colors">
              Ver mais
            </a>
          </div>
        </div>
      </div>
    </div>
    <a href="#" class="mt-12 inline-block bg-blue-600 text-white font-semibold py-3 px-8 rounded-full hover:bg-blue-700 transition-colors shadow-lg">
      Ver todas as praias
    </a>
  </section>